<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Rating feedback</title>

        <!-- css -->
        <style> 
            #content {
                width: 50%;
                min-height: 100%;
                float: left;
            }
            #nav {
                line-height:30px;
                height:100%;
                width:25%;
                float:left;
                padding:5px; 
            }
        </style>

        <!--bokeh style-->
        <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.10.0.min.css" type="text/css" />

        <!-- bokehjs -->
        <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.10.0.min.js"></script>
        <script type="text/javascript">
            Bokeh.set_log_level("info");
        </script>

    </head>


    <body>
        <div id="content">
            {{ div|safe }}
            <!--bokeh plot-->
            {{ js|safe }}
	</div>
    </body>
</html>

 

