<!-- extend from base layout -->
{% extends "bootstrap/base.html" %}

{% block navbar %}{% endblock navbar %}

{% block content %}

<div class="container">

    <!--
      <div class="page-header">
        <h1>Register + Login</h1><br>
		<p>Enter your details below</p>
      </div>
    -->
	
  <div class="row">
        <!-- <div class="col-xs-4">One third</div> -->
        <div class="col-xs-8">
            <h1> Register + Login </h1>
            <p>Enter your details below:</p>

			<form method='POST'>
			<div class="form-group">
				<label>Username</label><br>
				<input type='text' name='username'><br>
			</div>
			<div class="form-group">
				<label>Password</label><br>
				<input type='password' name='password'><br>
			</div>
			<div class="form-group">
				<label>Do you have a driving license?</label><br>
                <select name="driver_status" title="Please select">
                    <option>No</option>
                    <option>Yes</option>
                </select>
			</div>
			<div class="form-group">
                <button type="submit" name="submit" class="btn btn-success" value="register">Register and Login</button>
                <!-- <button type="submit" name="submit" class="btn btn-success" value="login">Login</button> -->
			</div>
			</form>
		</div>
        <!-- <div class="col-xs-4">One third</div> -->
        <div class="col-xs-4 pull-right">

            <h1>Login</h1>
            <p>If you've registered previously:</p>

			<form method='POST'>
			<div class="form-group">
				<label>Username</label><br>
				<input type='text' name='username'><br>
			</div>
			<div class="form-group">
				<label>Password</label><br>
				<input type='password' name='password'><br>
			</div>
			<div class="form-group">
                <!-- <button type="submit" name="submit" class="btn btn-primary" value="register">Register and Login</button> -->
				<button type="submit" name="submit" class="btn btn-success" value="login">Login</button>
			</div>
			</form>
		</div>
   </div> 

{% endblock %}
